@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap');


#root {
  
  
  text-align: center;
}

/* Navigation Bar Styles */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #55fef9;
  /* background-color: #45c9c4; */
  color: #ff4bd8;
  padding: 10px;

  height: 5rem;
  padding: 0 30px;
  font-weight: bold;
  box-shadow: 0 5px 20px rgba(255, 75, 216, 0.8);
  /* box-shadow: 0 5px 20px rgba(244, 5, 193, 0.5); */
}


.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


 .menu.closed ul {
  padding: 0 10px;
  transition: 0.3s;
  list-style: none;
  display: flex;
  flex-direction: row;
  color: #ff4bd8;
}

.menu.open ul {
  padding: 0 10px;
  transition: 0.3s;
  list-style: none;
  color: #ff4bd8;
  color: white;
}

/* .menu li {
  margin-left: 1rem;
} */


.menu a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #ff4bd8;
}

.menu a:hover,
.menu a:active,
.menu a.active {
  color: black;
}  


.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  margin-bottom: 5px;
  background-color: #ff4bd8;
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    background-color: white;
  }

  .hamburger.open span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
    background-color: white;
  }

  .open {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 75, 216);
    color: #fff;
    position: absolute;
    top: 30px;
    right: 10px;
    padding: 10px;
    border-radius: 5px;
  }

  .open a {
    display: block;
    margin-bottom: 5px;
    color: white;
    text-decoration: none;

  }
}

@media (min-width: 769px) {
  .menu.open ul {
    padding: 0 10px;
    transition: 0.3s;
    list-style: none;
    display: flex;
    flex-direction: row;
    color: #ff4bd8;
  }
}


/* Home Page Styles */ 


.home-page{
  width: 85%;
  margin: 0 auto;
  align-content: center;
}


.page-header {
  font-family: 'Calligraffitti', cursive;
  font-weight: 900;
  font-size: 4rem;
  text-shadow: -15px 5px 20px #ced0d3;
  text-align: center;
  color: #ffffff;
  text-shadow: 3px 3px 3px #EF5097,  
      5px 5px 5px #55fef9;
  /* text-shadow: 
    3px 3px 0px #EF5097, 
    5px 5px 0px #6868AC; */
}

@media (max-width: 816px) {
  .page-header{
    font-size: 3rem;
    /* text-shadow: 
    3px 3px 0px #EF5097, 
    5px 5px 0px #6868AC; */
    text-shadow: 3px 3px 3px #EF5097,  
      5px 5px 5px #55fef9;
    /* 3px 3px 5px #EF5097, 
    5px 5px 10px #6868AC; */
  }
}


.image-header{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 20px;
  
}
.self-one{
  box-shadow: 0 5px 20px #EF5097;
  border-radius: 90%;
  max-height: 350px;
  max-width: 350px;
  height: 45%;
  width: 45%;
  /* background-color: rgb(200, 191, 202); */
  background-color: rgb(218, 197, 223);
  
}
@media (max-width: 816px){
  .image-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    /* padding-top: 20px; */
    text-align: center;
    font-size: small;
  }
  .self-one{
    margin-bottom: 20px;
  }
}

.intro-section{
  border: 3px solid #55fef9;
  box-shadow: 0 0px 40px #55fef9;
  /* box-shadow: 0 0 10px #00ff00,
            0 0 20px #00ff00,
            0 0 30px #00ff00,
            0 0 40px #00ff00,
            0 0 70px #00ff00,
            0 0 80px #00ff00,
            0 0 100px #00ff00,
            0 0 150px #00ff00; */

  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  padding: 10px;
  font-size: 17px;
}

.neon-text{
  text-shadow: 0 0 10px #EF5097,
             0 0 20px #EF5097,
             0 0 30px #EF5097,
             0 0 40px #EF5097;

}

.home-buttons,
.link-btn{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 30px 0;
}



.links:active {
  transform: scale(0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.links:hover {
  transform: scale(1.05);
}


.links{
  border: 3px solid #ff4bd8;
  padding: 3px;
  border-radius: 5px;
  background-color: #ff4bd8;
  color: white;
  box-shadow: 0 0 10px #EF5097,
             0 0 20px #EF5097;
  text-decoration: none;
  transition: transform 0.2s, box-shadow 0.2s;
  font-weight: 600;
}

@media (max-width: 600px){
  .home-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links{
    width: 30%;
    text-align: center;
    margin: 10px 0;
  }
}



/********* About Me Page Styles *********/

/* .content-section{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 90%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  font-size: 17px;
} */


.content-section{
  text-align: center;
  display: flex;
  flex-direction: column;
}

.square{
  width: 70%;
  /* border: 3px solid #55fef9;
  box-shadow: 0 0px 40px #55fef9; */
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  padding: 30px;
  padding-top: 8.835px;
  font-size: 17px;
  /* margin-left: auto;
  margin-right: auto; */
}

.square:nth-child(odd) {
  align-self: flex-end;
  margin-right: 60px;
  border: 3px solid #55fef9;
  box-shadow: 0 0px 40px #55fef9;
}

.square:nth-child(even) {
  align-self: flex-start;
  margin-left: 60px;
  border: 3px solid #ff4bd8; 
  box-shadow: 0 0px 40px #ff4bd8;
}

/* Odd neon effect (blue) */
.square:nth-child(even) .neon-text-about {
  text-shadow: 0 0 10px #55fef9, 0 0 20px #55fef9, 0 0 30px #55fef9, 0 0 40px #55fef9;
}

/* Even neon effect (pink) */
.square:nth-child(odd) .neon-text-about {
  text-shadow: 0 0 10px #ef5097, 0 0 20px #ef5097, 0 0 30px #ef5097, 0 0 40px #ef5097;
}






/* EducationalExperience.css */

/* .educational-background {
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  
}

.educational-background h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;
}

.educational-background h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #444;
}

.educational-background p {
  font-size: 16px;
  margin: 0;
  color: #666;
}

.educational-background ul {
  list-style: disc;
  padding-left: 20px;
}

.educational-background li {
  font-size: 16px;
  margin-bottom: 5px;
  color: #666;
} */





/********* Certificate Page Styles *********/

.certificate-page {
  width: 85%;
  margin: 40px auto; 
  border: 3px solid #ff4bd8; 
  box-shadow: 0 0px 40px #ff4bd8;
  padding: 20px; 
}


.certificate {
  border: 3px solid #55fef9; 
  box-shadow: 0 0px 40px #55fef9;
  
  padding: 10px; 
  width: 90%;
  margin: 50px auto;
  
}

.lightbox-overlay {
  /* Styling for the lightbox overlay */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.full-image {
  /* Styling for the full-size image in the lightbox */
  max-width: 100%; /* Adjust the width as needed */
  height: auto; /* Adjust the height as needed */
  /* Additional styles, e.g., border, box-shadow, etc. */
}

.certImage{
  cursor: pointer;
}

.certDescription{
  padding: 20px;
}


@media (max-width: 600px){
  .certImage{
    max-width: 900px;
  }
}



/********* Projects Page Styles *********/

.projects-page{
  width: 85%;
  margin: 0 auto;
}

.projectGif{
  width: clamp(80%, 800px, 100%);
  height: auto;
}

.projects{
  /* border: 2px solid white;
  box-shadow: 0 0px 40px white; */
  border: 3px solid #55fef9; 
  box-shadow: 0 0px 40px #55fef9;
  margin-bottom: 30px;
  padding: 20px;
}

.githubLink{
  padding-bottom: 30px;
}

.features{
  text-align: start;
}

.neon-text-blue{
  text-shadow: 0 0 10px #55fef9, 
    0 0 20px #55fef9, 
    0 0 30px #55fef9, 
    0 0 40px #55fef9;
  color: white;
}

/* .link-btn{

} */




/********* Contact Page Styles *********/

.content-con{
  border: 3px solid #55fef9; 
  box-shadow: 0 0px 40px #55fef9;
  width: 85%;
  margin: 20px auto;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contactInfo{
  flex: 40;
}

.message-form{
  flex: 65%;
}

.contactInfo h3,
.contactInfo h2,
.message-form h2{
  color: #ff4bd8;
  margin-bottom: 5px;
  margin-top: 15px;
}

/* .message-form h2{
  text-align: center;

} */

.message-form form{
  display: flex;
  flex-direction: column;
}
.message-form label{
  color: #5ce1e6;
  margin-bottom: 5px;
  text-align: start;
}

.message-form input,
.message-form textarea,
.message-form button{
  margin-bottom: 20px;
  padding: 15px;
  font-size: 16px;
  background: transparent;
  border: none;
  outline: none;
  background: #26314f;
  color: white;
  resize: vertical;
}

.message-form input:focus,
.message-form textarea:focus{
  border-bottom: 2px solid #ff4bd8;
}

.message-form button:hover{
  cursor: pointer;
  border: 2px solid #5ce1e6;
}

.message-form button{
  background: #ff4bd8;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 600;

}

@media (max-width: 920px){
  .contactInfo,
  .message-form {
    flex: 100%;
  }
  /* .box-contactInfo{
    display:flex;
    flex-direction: column;
    align-items: center;
  } */

  .box{
    margin: 0 auto;
  }

}


.contactInfo .box-contactInfo .box{
  display: flex;
}

.contactInfo .box-contactInfo .box .icon{
  margin-right: 20px;
  margin-top: 15px;
}

.contactInfo .boxes-social{
  width: 30%;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}

.contactInfo .boxes-social .icon img{
  text-decoration: none;
  cursor: pointer;
  width: 32px;
}



/* .contactInfo .boxes-social .icon:link,
.contactInfo .boxes-social .icon:visited,
.contactInfo .boxes-social .icon:active{
  color:#5ce1e6;
  
} */

.infoText{
  text-align: start;
}

